.footer {
  background-image: url('../../images/bg_mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  @media (min-width: 768px) {
    background-image: url('../../images/bg_tablet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  @media (min-width: 1200px) {
    background-image: url('../../images/bg_pc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  &__title {
    padding-top: 42px;
    margin-bottom: 302px;
    @media (min-width: 768px) {
      padding-top: 78px;
      margin-bottom: 280px;
    }
    @media (min-width: 1200px) {
      padding-top: 170px;
      margin-bottom: 340px;
    }
  }
  &__title a {
    @include font($main-font, $fs: 20px, $fw: 800, $fc: $secondary-text-color, $ls: 0.4px, $lh: 60px);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    &::after {
      @include space(210px, 100%);
      content: "";
      border: 1px solid $secondary-text-color;
      margin: 0 auto;
      margin-top: -18px;
    }
    @media (min-width: 768px) {
      @include font($main-font, $fs: 30px, $fw: 800, $fc: $secondary-text-color, $ls: 0.6px, $lh: 60px);
      &::after {
        @include space(310px, 100%);
        content: "";
        border: 1px solid $secondary-text-color;
        margin: 0 auto;
        margin-top: -12px;
       }
    @media (min-width: 1200px) {
      @include font($main-font, $fs: 40px, $fw: 800, $fc: $secondary-text-color, $ls: 3px, $lh: 16px);
      &::after {
        @include space(440px, 100%);
        content: "";
        border: 1px solid $secondary-text-color;
        margin: 0 auto;
        margin-top: 14px;
      }
    }
  }
}
  &__wrap {
    @media (min-width: 768px) {
      display: flex;
      padding-bottom: 18px;
    }
    @media (min-width: 1200px) {
      display: flex;
      padding-bottom: 44px;
    }
  }
  &__wrap-logo {
    background-image: url('../../images/logo.png');
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    @media (min-width: 768px) {
      margin: 0 14px 0 54px;
     }
    @media (min-width: 1200px) {
      margin: 40px 25px 0 196px;
    }
  }
  &__wrap-descr {
     @include font($main-font, $fs: 14px, $fw: 400, $fc: $third-text-color, $ls: -0.56px, $lh: 60px);
     text-align: center;
     @media (min-width: 768px) {
      @include font($main-font, $fs: 18px, $fw: 400, $fc: $third-text-color, $ls: -0.72px, $lh: 30px);
    }
     @media (min-width: 1200px) {
      @include font($main-font, $fs: 20px, $fw: 400, $fc: $third-text-color, $ls: -0.8px, $lh: 30px);
      margin-top: 40px;
    }
  }
}

