.footer {
  position: relative;
  background-image: url('../images/bg_mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 290px 0 290px 0;
  @media (min-width: 768px) {
    background-image: url('../images/bg_tablet.jpg');
  }
  @media (min-width: 1200px) {
    background-image: url('../images/bg_pc.jpg');
  }
  &__title-wrap {
    @media (min-width: 320px) {
      padding-top: 48px;
    }
    @media (min-width: 768px) {
      padding-top: 100px;
    }
    @media (min-width: 1200px) {
      padding: 0;
     }
  }
  &__title-wrap-link {
    @include font($main-font, $fs: 20px, $fw: 800, $fc: $secondary-text-color, $ls: 0.4px, $lh: 60px);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    &::after {
      @include space(210px, 100%);
      content: "";
      border: 1px solid $secondary-text-color;
      margin: 0 auto;
      margin-top: -18px;
    }
    transition: all 500ms linear;
    &:hover {
      box-shadow: 0px 2px 20px 10px $secondary-text-color;
      opacity: 0.59;
    }
    @media (min-width: 768px) {
      @include font($main-font, $fs: 30px, $fw: 800, $fc: $secondary-text-color, $ls: 0.6px, $lh: 60px);
      &::after {
        @include space(310px, 100%);
        content: "";
        border: 1px solid $secondary-text-color;
        margin: 0 auto;
        margin-top: -12px;
       }
    @media (min-width: 1200px) {
      @include font($main-font, $fs: 40px, $fw: 800, $fc: $secondary-text-color, $ls: 3px, $lh: 16px);
      &::after {
        @include space(440px, 100%);
        content: "";
        border: 1px solid $secondary-text-color;
        margin: 0 auto;
        margin-top: 14px;
      }
    }
  }
}
 /*  &__wrap {
    @media (min-width: 768px) {
      display: flex;
      padding-bottom: 18px;
    }
    @media (min-width: 1200px) {
      display: flex;
      padding-bottom: 44px;
    }
  }
  &__wrap-logo {
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      margin: 0 14px 0 54px;
     }
    @media (min-width: 1200px) {
      margin: 40px 25px 0 196px;
    }
  }
  &__wrap-descr {
     @include font($main-font, $fs: 14px, $fw: 400, $fc: $third-text-color, $ls: -0.56px, $lh: 60px);
     text-align: center;
     @media (min-width: 768px) {
      @include font($main-font, $fs: 18px, $fw: 400, $fc: $third-text-color, $ls: -0.72px, $lh: 30px);
    }
     @media (min-width: 1200px) {
      @include font($main-font, $fs: 20px, $fw: 400, $fc: $third-text-color, $ls: -0.8px, $lh: 30px);
      margin-top: 40px;
    }
  }
} */

.wow {
  @media (min-width: 1200px) {
    animation: heartBeat 3s linear;
    }
  }
}

@media(max-width: 767px) {
  .footer__title-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 8px);
  }
}

@media(min-width: 768px) and (max-width: 1199px) {
  .footer__title-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 8px);
  }
}

@media(min-width: 1200px) {
  .footer__title-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 130px);
  }
}

