.stats__container {
  width: 260px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 748px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.stats {
  padding: 36px 0;

  @media (min-width: 768px) {
    padding: 56px 0;
  }

  @media (min-width: 1200px) {
    padding: 96px 0 142px;
  }

  &__section-title {
    text-align: left;
    margin-bottom: 28px;
    padding-right: 60px;

    @media (min-width: 768px) {
      margin-bottom: 36px;
      text-align: center;
      padding-right: 0;
    }

    @media (min-width: 1200px) {
      margin-bottom: 72px;
      text-align: left;
      padding-right: 700px;
    }

  }
}

.article-review {

  &__title {
    @include font ($main-font, 14px, 800, rgb(27, 32, 42), -0.62px, 20px);
    margin-bottom: 24px;

    // &--span {
    //   @media (max-width: 767px) {
    //     display: block;
    //   }
    // }
  }

  &__list {
    text-align: left;
    margin-bottom: 24px;
  }

  &__item {
    width: 225px;
    padding-right: 30px;

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__text {
    @include font($main-font, 14px, 400, #1b202a, -0.52px, 20px);

    &--span {
      @include font ($main-font, 30px, 700, $secondary-text-color, -0.75px);
      display: block;
      margin-bottom: 12px;
      text-align: left;
    }
  }
}
