.stats__container {
  width: 260px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 748px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.stats {
  padding: 36px 0;

  @media (min-width: 768px) {
    padding: 56px 0;
  }

  @media (min-width: 1200px) {
    padding: 96px 0 142px;
  }

  &__section-title {
    text-align: left;
    padding-right: 60px;
  }
}
